<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<title>Thunder Network支付</title>

<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <div style="" class="paypage_wp">
        <div class="cont">
            <div class="price_box">
                <p >{{productdetail}} </p>
                <p class="totalprice"><i class="num"> {{amount}} </i>美元</p>
            </div>
            <div class="orderinfo_box">
                <div class="orderinfo open">
                    <p>下单帐号：
                        <span >{{useremail}}</span>
                    </p>
                    <p >订单编号：
                        <span>{{orderid}}</span>
                    </p>
                </div>


            </div>
        </div>

       <div style="display:none" class="content">
            <form  id='form1' name='form1' action="https://tj.umtouch.com/expresspay/expresspay.php" class="alipayform" method="post" target="_blank">

                    <input type="text" name="WIDout_trade_no" value = "{{orderid}}">
                    <input type="text" name="WIDsubject" value="{{subject}}">
                    <input type="text" name="currency" value="USD">
                    <input type="text" name="WIDtotal_fee" value="{{amount}}">
                    <input type="text" name="WIDbody" value="{{productdetail}}">

                    <input type="text" name="ClientName" value="{{useremail}}">
                    <input type="text" name="ProductID" value="{{productID}}">
                    <input type="text" name="OrderTime" value="{{OrderTime}}">
            </form>
        </div>


        <div class="payway_box">

            <a class="payway" href="javascript:load_submit()">
                <i  class="ico_wx ico_alipay"></i>
                <span>支付宝支付</span>
                <span><img></span>
            </a>

        </div>
    </div>



<script type='text/javascript'>
    function load_submit()
        {document.form1.submit()}

</script>


</body>
</html>